<div class="container-fluid">
	<div class="my-orgs-contain">
	<br>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h2>Create New Organization</h2>
		</div>
		<div class="panel-body">
				<form>
					<div class="form-group">
						<input ng-model="newOrg.name" class="form-control" type="text" placeholder="Organization Name">
					</div>
					<div class="form-group">
						<textarea ng-model="newOrg.desc" class="form-control" type="text" placeholder="Description"></textarea>
					</div>
					<div class="form-group">
						<input ng-model="newOrg.add1" class="form-control" type="text" placeholder="Address 1">
					</div>
					<div class="form-group">
						<input ng-model="newOrg.add2" class="form-control" type="text" placeholder="Address 2">
					</div>
					<div class="form-group">
						<input ng-model="newOrg.city" class="form-control" type="text" placeholder="City">
					</div>
					<div class="form-group">
						<input ng-model="newOrg.st" class="form-control" type="text" placeholder="State">
					</div>
					<div class="form-group">
						<input ng-model="newOrg.zip" class="form-control" type="text" placeholder="Zip Code">
					</div>
					<div class="form-group">
						<input ng-model="newOrg.linkedin" class="form-control" type="text" placeholder="LinkedIn Link">
					</div>
					<div class="form-group">
						<input ng-model="newOrg.facebook" class="form-control" type="text" placeholder="Facebook Link">
					</div>
					<div class="form-group">
						<input ng-model="newOrg.twitter" class="form-control" type="text" placeholder="Twitter Link">
					</div>
					<div class="form-group">
						<button class=" btn btn-primary login-button" type="submit" ng-click="createOrg(newOrg)">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
