<nav id='navSidebar' class="navmenu navmenu-primary navmenu-fixed-left offcanvas-sm" autohide="false" disableScrolling="true" role="nagivation" toggle="false" data-canvas="body">
	<a id="navSidebarButton-Out" class="hidden-md hidden-lg" type="button" data-toggle='offcanvas' data-target='#navSidebar'>╳</a>

	<div class="mediumLogo"><p>sked</p></div>

	<div class="mainMenuSettings">
		<ul class="nav nav-sidebar">
			<li ui-sref-active="active" ui-sref="auth.myHome({myHome:myHome})" class="menuItemSelected"><a>My sked</a></li>
			<hr id="menuSplit">

			<div id="navSidebarMenuItems">
				<ul class='nav nav-sidebar'>
					<li class="dropdown" ui-sref-active="active" ng-repeat="org in myOrgs">
						<a ng-if="org.org.status === 'Active'" data-toggle="dropdown" ui-sref-active="active" id="menuCompanyName" aria-expanded="false" aria-haspopup="true">{{org.org.name}} <span class="caret"></span></a>

							<ul class="dropdown-menu navmenu-nav" id="companyMenuItems" role="menu">
								<li ui-sref-active="active"><a ui-sref='auth.skedAptOrg({id: org.org._id})' data-target="">Open appointments</a></li> <!-- all users -->

								<li ng-if="org.role === 'Mentor' || org.role === 'Admin'" ui-sref-active="active"><a ui-sref="auth.aptAvailability({id: org.org._id})">Set Availability</a></li> <!-- only if user is mentor -->

								<li ng-if="org.role === 'Mentor' || org.role === 'User'" ui-sref-active="active"><a ui-sref='auth.org({id: org.org._id})'>Organization</a></li> <!-- Only mentor and users -->

								<li ng-if="org.role === 'Admin'" ui-sref-active="active"><a ui-sref="auth.orgManagement({id: org.org._id})">Management</a></li> <!-- only if user is admin -->
							</ul>
					</li>
				</ul>
			</div>



			<hr id="menuSplit">
			<li ui-sref-active="active" ui-sref="auth.joinOrg" ng-click="getOrgs()" class="menuItemSelected"><a>Join Organization</a></li>
			<li ui-sref-active="active" ui-sref="auth.createOrg" class="menuItemSelected"><a>Create Organization</a></li>
			<li ui-sref-active="active" ui-sref="auth.userProfile" class="menuItemSelected"><a>My profile</a></li>
			<li ui-sref-active="active"><a ng-click="logout()">Logout</a></li>
		</ul>
		<br>
	</div>
</nav>

<div class="rightViewContent">
	<nav id="topNavBar" class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
		<div id='navSidebarButton'>
			<a type="button" data-toggle='offcanvas' data-target='#navSidebar'>☰</a>
		</div>
		<div class="pageTitle">
			<p>{{pageTitle}}</p>
		</div>
	</nav>

	<div class="page-content" ui-view></div>
</div>
