<div class="container-fluid">
	<div class="my-orgs-contain">
		<calendar-directive apt="orgApts"></calendar-directive>
		<div class="panel panel-info">
			<div class="panel-heading"><h1>{{thisOrg.name}} available apopintments</h1></div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<th>Title</th>
						<th>Day</th>
						<th>Start Time</th>
						<th>End Time</th>
						<th>Mentor</th>
						<th>Location</th>
						<th></th>
					</tr>
					<tr ng-model="orgApts" ng-repeat="apt in orgApts">
						<td><h5>{{apt.title}}</h5></td>
						<td><h5>{{apt.startsAt | date: "fullDate"}}</h5></td>
          			    <td><h5>{{apt.startsAt | date: "shortTime"}}</h5></td>
            			<td><h5>{{apt.endsAt | date: "shortTime"}}</h5></td>
            			<td><h5>{{apt.mentor.firstName}} {{apt.mentor.lastName}}</h5></td>
            			<td><h5>{{apt.loc}}</h5></td>
						<td><button class="btn btn-success" ng-click="skedApt(apt)">Schedule</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
