<div class="container-fluid">
    <div class='col-sm-6'>
    	<form>
            <div class="form-group">
              <input type="text" ng-model="newApt.title" class="form-control" placeholder="Meeting title...">
        		</div>
            <div class="form-group">
              <input ng-model="newApt.loc" class="form-control" placeholder="Location...">
            </div>
            <div class=' form-group input-group date' id='datetimepicker6'>
                <input ng-model="newApt.startsAt" class="form-control" placeholder="Start Time"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <div class=' form-group'>
                <select ng-model="newApt.endsAt" ng-init="newApt.endsAt = aptDurations[0]" ng-options="duration for duration in aptDurations" class="form-control" placeholder="Appointment Duration"></select>
            </div>
			<div class="form-group">
	            <button class=" btn btn-default login-button" type="submit" ng-click="createApt(newApt, $state.params.id, user._id)">Create Apt</button>
	        </div>
    	</form>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>My Open Apts</h1></div>
            <table class="table">
                <tr>
                    <th>Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th></th>
                </tr>
                <tr ng-repeat="apt in myOpenApts">
                    <td><h5>{{apt.startsAt | date: "fullDate"}}</h5></td>
                    <td><h5>{{apt.startsAt | date: "shortTime"}}</h5></td>
                    <td><h5>{{apt.endsAt | date: "shortTime"}}</h5></td>
                    <td><span ng-click="removeOpenApt(apt._id)" class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker({
        	minDate: new Date(),
        	sideBySide: true,
        });
        // $('#datetimepicker7').datetimepicker({
        // 	sideBySide: true,
        //     useCurrent: false //Important! See issue #1075
        // });
        // $("#datetimepicker6").on("dp.change", function (e) {
        //     $('#datetimepicker7').data("DateTimePicker").minDate(e.date).defaultDate(e.date);
        // });
        // $("#datetimepicker6").on("dp.update", function (e) {
        //     $('#datetimepicker7').data("DateTimePicker").defaultDate(e.date);
        // });
    });
</script>
