<div class="btn-group">
	<button class="btn btn-default" ui-sref="home">DASHBOARD</button>
	<button class="btn btn-default" ui-sref="schedule">SCHEDULE APPT</button>
	<button class="btn btn-default" ui-sref="availability">SET AVAILABILITY (if user is a mentor)</button>
	<button class="btn btn-default" ui-sref="join">JOIN ORG</button>
	<button class="btn btn-default" ui-sref="create">CREATE ORG</button>
	<div class="dropdown btn-group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">SETTINGS <span class="caret"></span> </button>
	   		<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
		        <li role="menuitem"><a ui-sref="profile">PROFILE</a></li>
		        <li role="menuitem"><a ui-sref="manage">MANAGE MY ORGs</a></li>
		        <li role="menuitem"><a ui-sref="landingPage">LOGOUT</a></li>
		    </ul>
	</div>
</div>
<div>
	<h2>Be able to create org here</h2>
	<input placeholder="org name">
	<input placeholder="org description">
	<input placeholder="etc...">
	<button class="btn btn-default" ui-sref="home">SAVE</button>
</div>