<nav id='navSidebar' class="navmenu navmenu-inverse navmenu-fixed-left offcanvas-sm" role="nagivation">
	<a id="navSidebarButton-Out" class="hidden-md hidden-lg" type="button" data-toggle='offcanvas' data-target='#navSidebar'>╳</a>

	<div class="logoImg">
		<img src="{{logoImg}}" alt="Logo" height="100"/>
		<p>{{companyName}}</p>
	</div>
	<div class="">
		<ul class='nav nav-sidebar'>
			<li ui-sref-active="active"><a ui-sref='auth.schedule({calendar:calendar})'><div data-toggle='offcanvas' data-target='#navSidebar'>Calendar</div></a></li>
			<li ui-sref-active="active"><a ui-sref='auth.dashboard({dashboard:dashboard})'><div data-toggle='offcanvas' data-target='#navSidebar' class="hidden-md hidden-lg">Dashboard</div></a></li>
			<li ui-sref-active="active"><a ui-sref='auth.userManage({userManage:userManage})'><div data-toggle='offcanvas' data-target='#navSidebar' class="hidden-md hidden-lg">User management</div></a></li>
			<li ui-sref-active="active"><a ui-sref="auth.orgProfile({orgProfile:orgProfile})"><div data-toggle='offcanvas' data-target='#navSidebar' class="hidden-md hidden-lg">Organization Profile</div></a></li>
			<li ui-sref-active="active"><a ui-sref="auth.userProfile({userProfile:userProfile})"><div data-toggle='offcanvas' data-target='#navSidebar' class="hidden-md hidden-lg">User settings</div></a></li>

			<!-- Test Routes -->
			<li ui-sref-active="active"><a ui-sref="auth.testRoute({testRoute:testRoute})">Test routes</a></li>
			<!-- Test Routes -->

			<br>
			<br>
			<li><a ui-sref="auth.myOrg">My organizations</a></li>
			<li><a ng-click="logout()">Logout</a></li>
		</ul>
	</div>
	<div class="mediumLogo">
		sked
	</div>
</nav>

<nav id="topNavBar" class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
  <div id='navSidebarButton'>
    <a type="button" data-toggle='offcanvas' data-target='#navSidebar'>☰</a>
  </div>
	<div class="pageTitle">
		<p>{{pageTitle}}</p>
	</div>
</nav>

<div class="page-content" ui-view></div>
