<nav id='navSidebar' class="navmenu navmenu-inverse navmenu-fixed-left offcanvas-sm" role="nagivation">
	<a id="navSidebarButton-Out" class="hidden-md hidden-lg" type="button" data-toggle='offcanvas' data-target='#navSidebar'>╳</a>

	<div class="logoImg">
		<img src="{{logoImg}}" alt="Logo" height="100"/>
		<p>{{companyName}}</p>
	</div>
	<div class="">
		<ul class='nav nav-sidebar'>
			<li ui-sref-active="active"><a ui-sref='auth.home.schedule({calendar:calendar})'>Calendar</a></li>
			<li ui-sref-active="active"><a ui-sref='auth.home.dashboard({dashboard:dashboard})'>Dashboard</a></li>
			<li ui-sref-active="active"><a ui-sref='auth.home.userManage({userManage:userManage})'>User management</a></li>
			<li ui-sref-active="active"><a ui-sref="auth.home.orgProfile({orgProfile:orgProfile})">Organization Profile</a></li>
			<li ui-sref-active="active"><a ui-sref="auth.home.userProfile({userProfile:userProfile})">User settings</a></li>

			<!-- Test Routes -->
			<li ui-sref-active="active"><a ui-sref="auth.home.testRoute({testRoute:testRoute})">Test routes</a></li>
			<!-- Test Routes -->

			<br>
			<br>
			<li><a ui-sref="auth.myOrg">My organizations</a></li>
			<li><a ng-click="logout()">Logout</a></li>
		</ul>
	</div>
	<div class="mediumLogo">
		sked
	</div>
</nav>

<nav id="topNavBar" class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
  <div id='navSidebarButton'>
    <a type="button" data-toggle='offcanvas' data-target='#navSidebar'>☰</a>
  </div>
	<div class="pageTitle">
		<p>{{pageTitle}}</p>
	</div>
</nav>

<div class="page-content" ui-view></div>
