<div class="container">
	<div class="join-orgs-contain">
		<div class="btn-group">
			<button ui-sref="auth.myOrg">Back to my organizations</button>
		</div>
		<div>
			<input placeholder="search for orgs here">
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Available Organizations</div>
			<table class="table">
				<tr>
					<th>Organization</th>
					<th>Description</th>
					<th>Location</th>
					<th></th>
				</tr>
				<tr ng-repeat="org in orgs">
					<td><h2 class="hh2">{{org.name}}</h2></td>
					<td>{{org.desc}}</td>
					<td>{{org.location}}</td>
					<td><button ng-click="joinOrg()">Join</button></td>
				</tr>
				
			</table>
		</div>
	</div>
</div>
