<div class="container">
	<div class="join-orgs-contain">
		<div class="btn-group">
			<button ui-sref="auth.home.myhome">Back to my organizations</button>
		</div>
		<div>
			<input placeholder="search for orgs here">
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Available Organizations</div>
			<table class="table">
				<tr>
					<th>Organization</th>
					<th>Location</th>
					<th>Category</th>
					<th></th>
				</tr>
				<tr>
					<td>Organization 1</td>
					<td>Dallas, TX</td>
					<td>Category</td>
					<td><button ng-click="joinOrg()">Join</button></td>
				</tr>
				<tr>
					<td>Organization 2</td>
					<td>Austin, TX</td>
					<td>Category</td>
					<td><button ng-click="joinOrg()">Join</button></td>
				</tr>
				<tr>
					<td>Organization 3</td>
					<td>Houston, TX</td>
					<td>Category</td>
					<td><button ng-click="joinOrg()">Join</button></td>
				</tr>
			</table>
		</div>
	</div>
</div>
