<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	<h2 class="pull-left landing-sked">Sked</h2>
	<button class="pull-right landing-nav btn btn-default" ui-sref="login">Login</button>
	<button class="pull-right landing-nav btn btn-default" ui-sref="signup">Signup</button>
	</div>
</nav>

<div id="below-navbar" class="jumbotron landing-section">
	<h1>ABOUT US SECTION</h1>
</div>
<div class="jumbotron landing-section">
	<h1>HOW IT WORKS SECTION</h1>
</div>
<div class="jumbotron landing-section">
	<h1>FOOTER INFO...</h1>
</div>