<div class="container">
	<div class="my-orgs-contain">
		<div class="btn-group">
			<button ui-sref="auth.home.myhome">Cancel</button>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><h1>My Organizations</h1></div>
			<div class="panel-body">
				<div>
					<div class="row">
						<div class="col-sm-4">
							<h2 class="text-center">Organization 1 <span ng-click="leaveOrg()" class="glyphicon glyphicon-remove" aria-hidden="true"></span></h2>
						</div>
						<div class="col-sm-4">
							<h2 class="text-center">Organization 2 <span ng-click="leaveOrg()" class="glyphicon glyphicon-remove" aria-hidden="true"></span></h2>
						</div>
						<div class="col-sm-4">
							<h2 class="text-center">Organization 3 <span ng-click="leaveOrg()" class="glyphicon glyphicon-remove" aria-hidden="true"></span></h2>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>