<div class="btn-group">
	<button class="btn btn-default" ui-sref="home">DASHBOARD</button>
	<button class="btn btn-default" ui-sref="schedule">SCHEDULE APPT</button>
	<button class="btn btn-default" ui-sref="availability">SET AVAILABILITY (if user is a mentor)</button>
	<button class="btn btn-default" ui-sref="join">JOIN ORG</button>
	<button class="btn btn-default" ui-sref="create">CREATE ORG</button>
	<div class="dropdown btn-group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">SETTINGS <span class="caret"></span> </button>
	   		<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
		        <li role="menuitem"><a ui-sref="profile">PROFILE</a></li>
		        <li role="menuitem"><a ui-sref="manage">MANAGE MY ORGs</a></li>
		        <li role="menuitem"><a ui-sref="landingPage">LOGOUT</a></li>
		    </ul>
	</div>
</div>
<div>
	<h2>List of orgs where you are admin</h2>
	<h3>Be able to change user role....(mentor or mentee)</h3>
</div>
<div class="well">
	<div ng-repeat="user in users">
		<h2>{{user.name}}</h2>
		<h2>{{user.role}}</h2>
		<button>EDIT USER</button>
	</div>
</div>

<div>
	<h2>List of orgs where you are a mentor/mentee</h2>
	<h3>Be able to leave ORG</h3>
</div>
<div class="well">
	<div ng-repeat="org in orgs|limitTo:2">
		<h2>{{org.name}}</h2>
		<h4>{{org.desc}}</h4>
		<button>LEAVE ORG</button>
	</div>
</div>



