<div class="container-fluid">
	<div class="my-orgs-contain">

		<calendar-directive ng-show="calendarLoaded"></calendar-directive>
		<circle-spinner ng-show="notLoaded"></circle-spinner>

		<br>
		<div class="panel panel-default">
			<div class="panel-heading"><h1>My Apts</h1></div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Day</th>
							<th>Start Time</th>
							<th>End Time</th>
							<th>Org</th>
							<th>Mentor</th>
							<th>Location</th>
							<th></th>
						</tr>
						<tr ng-repeat="apt in myMenteeBookedApts">
							<td><h5>{{apt.startTime | date: "EEEE - M/d/yy"}}</h5></td>
							<td><h5>{{apt.startTime | date: "shortTime"}}</h5></td>
							<td><h5>{{apt.endTime | date: "shortTime"}}</h5></td>
							<td><h5>{{apt.org.name}}</h5></td>
							<td><h5>{{apt.mentor.name}}</h5></td>
							<td><h5>{{apt.loc}}</h5></td>
							<td><button ng-click="cancelApt(apt._id)">Cancel Appointment</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><h1>My Orgs</h1></div>
			<div class="panel-body">
				<div class="col-md-4" ng-repeat="org in myOrgs" ng-if="org.org.status === 'Active'">
					<h2>{{org.org.name}} <span ng-if="org.role !== 'Admin'" class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="leaveOrg(org.org._id)"></span></h2>
					<h4>{{org.org.desc}}</h4>
					<h4>{{org.org.location}}</h4>
					<button ui-sref="auth.org({id: org.org._id})">Go to org page</button>
				</div>
			</div>
		</div>
	</div>
</div>
