<div class="container-fluid">
	<div class="my-orgs-contain">
	<br>
	<div class="btn-group">
	  <button class="btn btn-primary" ng-model="aptRadio" uib-btn-radio="'Left'" ng-click="aptView('listMode')">List</button>
	  <button class="btn btn-primary" ng-model="aptRadio" uib-btn-radio="'Right'" ng-click="aptView('calendarMode')">Calendar</button>
	</div>

	<div ng-show="calendarMode" class="">
		<calendar-directive ng-show="calendarLoaded"></calendar-directive>
		<circle-spinner ng-show="notLoaded"></circle-spinner>
	</div>

	<div ng-show="listMode" class="">
		<br>
		<div class="panel panel-info">
			<div class="panel-heading"><h1>My Appointments</h1></div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Day</th>
							<th>Start Time</th>
							<th>End Time</th>
							<th>Org</th>
							<th>Mentor</th>
							<th>Location</th>
							<th>Cancel</th>
						</tr>
						<tr ng-model="apt" ng-repeat="apt in myMenteeBookedApts">
							<td><h5>{{apt.startsAt | date: "EEEE - M/d/yy"}}</h5></td>
							<td><h5>{{apt.startsAt | date: "shortTime"}}</h5></td>
							<td><h5>{{apt.endsAt | date: "shortTime"}}</h5></td>
							<td><h5>{{apt.org.name}}</h5></td>
							<td><h5>{{apt.mentor.firstName}} {{apt.mentor.lastName}}</h5></td>
							<td><h5>{{apt.loc}}</h5></td>
							<td><span ng-click="cancelApt(apt._id)" class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

		<br>
		<div class="panel panel-info">
			<div class="panel-heading"><h1>My Organizations</h1></div>
			<div class="panel-body">
				<div class="col-md-4" ng-repeat="org in myOrgs" ng-if="org.org.status === 'Active'">
					<h2>{{org.org.name}} <span ng-if="org.role !== 'Admin'" class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="leaveOrg(org.org._id)"></span></h2>
					<h4>{{org.org.desc}}</h4>
					<h4>{{org.org.location}}</h4>
					<button class="btn btn-primary" ui-sref="auth.org({id: org.org._id})">Info</button>
				</div>
			</div>
		</div>

	</div>
</div>
