<div class="container-fluid">
	<div class=" join-orgs-contain">
		<div class="panel panel-default">
	        <div class="panel-heading"><h1>{{currentOrg.name}}</h1></div>
				<h4>About: {{currentOrg.desc}}</h4>
				<h4>Location: {{currentOrg.add1}} {{currentOrg.add2}} {{currentOrg.city}}, {{currentOrg.st}} {{currentOrg.zip}}</h4>
				<h4>LinkedIn: {{currentOrg.linkedin}}</h4>
				<h4>Facebook: {{currentOrg.facebook}}</h4>
				<h4>Twitter: {{currentOrg.twitter}}</h4>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><h1>Organization Members</h1></div>
			<div class="table-responsive">
	            <table class="table table-striped table-hover">
	                <tr>
	                    <th>Name</th>
	                    <th> </th>
	                </tr>
	                <tr ng-repeat="user in orgUsers | orderBy: user.userid.lastName">
	                    <td ng-click="showUserInfo(user.userid)"><h5>{{user.userid.lastName}}, {{user.userid.firstName}}</h5>
	                    </td>
	                </tr>
	            </table>
	        </div>
		</div>
	</div>
</div>