<div class="contain-fluid">
	<circle-spinner ng-show="notLoaded"></circle-spinner>
	<div ng-show="stuffLoaded" class=" join-orgs-contain">
		<div class="row">
			<div class="panel panel-default">
	            <div class="panel-heading"><h1>All Org Users</h1></div>
	            <div class="table-responsive">
		            <table class="table table-striped table-hover">
		                <tr>
		                    <th>Name</th>
		                    <th>Email</th>
		                    <th>Status</th>
		                    <th>Role</th>
		                    <th>  </th>
		                    <th>Remove</th>
		                </tr>
		                <tr ng-repeat="user in orgUsers | filter: user.userid.lastName">
		                    <td data-toggle="modal" data-target="#myModal{{user.userid._id}}"><h5>{{user.userid.lastName}}, {{user.userid.firstName}}</h5></td>
		                    <td><h5>{{user.userid.email}}</h5></td>
		                    <td><h5>{{user.userid.status}}</h5></td>
		                    <td>
		                    	<div class="btn-group">
			                    	<button class="btn btn-sm btn-primary org-role" ng-class="{'disabled': user.role === 'Admin'}" ng-click="makeAdmin(user.userid._id, user.role)" >Admin</button>
			                    	<button class="btn btn-sm btn-primary org-role" ng-class="{'disabled': user.role === 'Mentor'}" ng-click="makeMentor(user.userid._id, user.role)" >Mentor</button>
			                    	<button class="btn btn-sm btn-primary org-role" ng-class="{'disabled': user.role === 'User'}" ng-click="makeUser(user.userid._id, user.role)" >User</button>
		                    	</div>
		                    </td>
		                    <td>
		                    	<div class="modal fade" id="myModal{{user.userid._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h2 class="modal-title" id="myModalLabel">{{user.userid.firstName}} {{user.userid.lastName}}</h2>
								      </div>
								      <div class="modal-body">
								      	<h2>Email:</h2><h4> {{user.userid.email}}</h4>
										<h2>About:</h2><h4> {{user.userid.desc}}</h4>
										<h2>Company:</h2><h4>{{user.userid.company}}</h4>
										<h2>Job Title:</h2><h4>{{user.userid.title}}</h4>
										<h2>Specialities:</h2><h4>{{user.userid.specialities}}</h4>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								      </div>
								    </div>
								  </div>
								</div>
		                    </td>
		                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeUser(user.userid._id)"></span></td>
		                </tr>
		            </table>
	            </div>
	        </div>
		</div>
        <hr>
	    <div class="row">
	    	<div class="panel panel-default">
	            <div class="panel-heading"><h1>User Statistics</h1></div>
	            <div class="table-responsive">
		            <table class="table table-striped table-hover">
		                <tr>
		                    <th># of Users</th>
		                    <th>Admins</th>
		                    <th>Mentors</th>
		                    <th>User</th>
		                </tr>
		                <tr>
		                    <td>{{currentOrg.members.length}}</td>
		                    <td>{{currentOrg.numAdmins}}</td>
		                    <td>{{currentOrg.numMentors}}</td>
		                    <td>{{currentOrg.numUsers}}</td>
		                </tr>
		            </table>
	            </div>
	        </div>
	    </div>
	    <hr>
	    <div class="row">
	    	<div class="panel panel-default">
	            <div class="panel-heading"><h1>Appointment Statistics</h1></div>
	            <div class="table-responsive">
		            <table class="table table-striped table-hover">
		                <tr>
		                    <th>Open Apts</th>
		                    <th>Booked Apts</th>
		                    <th>Booked Past Apts</th>
		                    <th>UnBooked Past Apts</th>
		                </tr>
		                <tr>
		                    <td>{{orgApts.open}}</td>
		                    <td>{{orgApts.booked}}</td>
		                    <td>{{orgApts.completed}}</td>
		                    <td>{{orgApts.past}}</td>
		                </tr>
		            </table>
	            </div>
	        </div>
	    </div>
	    <hr>
	    <div class="row">
	        <div class="col-md-6">
				<h2>Current Profile</h2>
				<hr>
				<h4>Name: {{currentOrg.name}}</h4>
				<h4>About: {{currentOrg.desc}}</h4>
				<h4>Location: {{currentOrg.add1}} {{currentOrg.add2}} {{currentOrg.city}}, {{currentOrg.st}} {{currentOrg.zip}}</h4>
				<h4>LinkedIn: {{currentOrg.linkedin}}</h4>
				<h4>Facebook: {{currentOrg.facebook}}</h4>
				<h4>Twitter: {{currentOrg.twitter}}</h4>
				<button class="btn btn-danger" ng-click="deactivateOrg(currentOrg._id)">Deactivate Org</button>
			</div>
			<div class="col-md-6">
				<h2>Update Profile Here</h2>
				<hr>
				<form>
					<div class="form-group">
						<input ng-model="orgUpdateData.name" class="form-control" placeholder="Org Name">
					</div>
					<div class="form-group">
						<textarea ng-model="orgUpdateData.desc" class="form-control" placeholder="About Org..."></textarea>
					</div>
			        <div class="form-group">
			            <input ng-model="orgUpdateData.add1" class="form-control" type="text" placeholder="Address 1">
			        </div>
			        <div class="form-group">
			            <input ng-model="orgUpdateData.add2" class="form-control" type="text" placeholder="Address 2">
			        </div>
			        <div class="form-group">
			            <input ng-model="orgUpdateData.city" class="form-control" type="text" placeholder="City">
			        </div>
			        <div class="form-group">
			            <input ng-model="orgUpdateData.st" class="form-control" type="text" placeholder="State">
			        </div>
			        <div class="form-group">
			            <input ng-model="orgUpdateData.zip" class="form-control" type="text" placeholder="Zip Code">
			        </div>
			        <div class="form-group">
						<input ng-model="orgUpdateData.linkedin" class="form-control" placeholder="Link to LinkedIn">
					</div>
					<div class="form-group">
						<input ng-model="orgUpdateData.facebook" class="form-control" placeholder="Link to Facebook">
					</div>
					<div class="form-group">
						<input ng-model="orgUpdateData.twitter" class="form-control" placeholder="Link to Twitter">
					</div>
					<div class="form-group">
			            <button class=" btn btn-default login-button" type="submit" ng-click="updateOrg(orgUpdateData)">Save Changes</button>
			        </div>
				</form>
			</div>
	    </div>
	</div>
</div>
