<div class="container-fluid">
	<div class="col-md-offset-1 col-md-5">
		<h2>Current Profile</h2>
		<hr>
	    <div id="add-linkedin-contain">
	        <a href="/api/auth/linkedin"><div id="linkedin-add"></div></a>
	    </div>
		<h4>Name: {{user.firstName}} {{user.lastName}}</h4>
		<h4>About: {{user.desc}}</h4>
		<h4>Company: {{user.company}}</h4>
		<h4>Job Title: {{user.title}}</h4>
		<h4>Specialities: {{user.specialities}}</h4>
		<h4>Email: {{user.email}}</h4>
		<button ng-click="deactivateUser(user._id)">Deactivate Account</button>
	</div>
	<div class="col-md-5">
		<h2>Update Profile Here</h2>
		<hr>
		<form>
			<div class="form-group">
				<input ng-model="userUpdates.firstName" class="form-control" placeholder="First Name">
			</div>
			<div class="form-group">
				<input ng-model="userUpdates.lastName" class="form-control" placeholder="Last Name">
			</div>
			<div class="form-group">
				<textarea ng-model="userUpdates.desc" class="form-control" placeholder="About you..."></textarea>
			</div>
			<div class="form-group">
				<input ng-model="userUpdates.company" class="form-control" placeholder="Company">
			</div>
			<div class="form-group">
				<input ng-model="userUpdates.title" class="form-control" placeholder="Job Title">
			</div>
			<div class="form-group">
				<input ng-model="userUpdates.specialities" class="form-control" placeholder="Specialties">
			</div>
			<div class="form-group">
	            <button class=" btn btn-default login-button" type="submit" ng-click="updateUser(userUpdates)">Save Changes</button>
	        </div>
		</form>
	</div>
</div>
