<div class="container-fluid">
	<div class="my-orgs-contain">
		<br>
		<div class="btn-group">
			<button class="btn btn-primary" ui-sref="auth.joinOrg">Join Organization</button>
			<button class="btn btn-primary" ui-sref="auth.createOrg">Create Organization</button>
		</div>
		<br>
		<br>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2>My Profile</h2>
			</div>
			<div class="panel-body">
				<div ng-if="!user.linkedinToken" id="add-linkedin-contain">
					<a href="/api/auth/linkedin"><div id="linkedin-add"></div></a>
				</div>
				<h4>Name: {{user.firstName}} {{user.lastName}}</h4>
				<h4>About: {{user.desc}}</h4>
				<h4>Company: {{user.company}}</h4>
				<h4>Job Title: {{user.title}}</h4>
				<h4>Specialities: {{user.specialities}}</h4>
				<h4>Email: {{user.email}}</h4>
				<button class="btn btn-primary" ng-click="showEdit = !showEdit">Edit Profile</button>
				<button class="btn btn-danger" ng-click="deactivateUser(user._id)">Deactivate Account</button>
			</div>
		</div>
		<div ng-show="showEdit" class="panel panel-info">
			<div class="panel-heading">
				<h2>Update Profile Here</h2>
			</div>
			<div class="panel-body">
				<form>
					<div class="form-group">
						<input ng-model="userUpdates.firstName" class="form-control" placeholder="First Name">
					</div>
					<div class="form-group">
						<input ng-model="userUpdates.lastName" class="form-control" placeholder="Last Name">
					</div>
					<div class="form-group">
						<textarea ng-model="userUpdates.desc" class="form-control" placeholder="About you..."></textarea>
					</div>
					<div class="form-group">
						<input ng-model="userUpdates.company" class="form-control" placeholder="Company">
					</div>
					<div class="form-group">
						<input ng-model="userUpdates.title" class="form-control" placeholder="Job Title">
					</div>
					<div class="form-group">
						<input ng-model="userUpdates.specialities" class="form-control" placeholder="Specialties">
					</div>
					<div class="form-group">
						<button class=" btn btn-primary login-button" type="submit" ng-click="updateUser(userUpdates); showEdit = !showEdit">Save Changes</button>
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading"><h1>My Organizations</h1></div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Org</th>
							<th>Location</th>
							<th> </th>
						</tr>
						<tr ng-repeat="org in myOrgs" ng-if="org.org.status === 'Active'">
							<td>{{org.org.name}}</td>
							<td>{{org.org.add1}} {{org.org.add2}} {{org.org.city}} {{org.org.st}} {{org.org.zip}}</td>
							<td><button class="btn btn-info" ng-click="showOrgInfo(org.org)">Info</button></td>
							<td><button class="btn btn-danger" ng-click="leaveOrg(org)">Leave</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
