<h1 class="text-center">SKED.us</h1>
<h5 class="text-center tagline">Where people sked to meet</h5>
<div id="linkedin-contain">
	<div id="linkedin"></div>
</div>
<div class="line"><hr></div>
<div class="login-contain">
	<form>
		<div class="form-group">
			<label for="firstName">First Name</label>
			<input class="form-control" id="firstName" type="text" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="lastName">Last Name</label>
			<input class="form-control" id="lastName" type="text" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="emailInput">Email</label>
			<input class="form-control" id="emailInput" type="email" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="passwordInput">Password</label>
			<input class="form-control" id="passwordInput"type="password" placeholder="password">
		</div>
		<div class="form-group">
			<button class="login-button" ui-sref="home">REGISTER</button>
		</div>
	</form>
</div>
<div class="line"><hr></div>


<h5 class="text-center">Already have an account? <a ui-sref="login"> LOGIN HERE</a><h5>
