<div class="container background security">
    <h1 class="text-center hh1">SKED</h1>
    <h5 class="text-center tagline hh5">Where people sked to meet</h5>
    <h3 class="text-center">Reset Password</h3>
    <div class="line"><hr></div>
    <div class="login-contain">
        <form>
            <div class="form-group">
                <input ng-model="password" class="form-control"type="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" ng-model="password2 ">
                <div class="text-danger" ng-if="password !== password2">Passwords don't match</div>
                <div class="text-danger" ng-if="error">{{error}}</div>
            </div>
            <div class="form-group">
                <button class=" btn btn-default login-button" href="/api/auth/reset/:token">Reset</button>
            </div>
        </form>
    </div>
</div>