<div class="container background security">
    <h1 class="text-center hh1">SKED</h1>
    <h5 class="text-center tagline hh5">Where people sked to meet</h5>
    <div class="line"><hr></div>
    <div class="login-contain">
        <form>
            <div class="form-group">
                <input ng-model="newUser.firstName" class="form-control" type="text" placeholder="First Name">
            </div>
            <div class="form-group">
                <input ng-model="newUser.lastName" class="form-control" type="text" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input ng-model="newUser.email" class="form-control" type="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input ng-model="newUser.password" class="form-control"type="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" ng-model="password2">
                <div class="text-danger" ng-if="newUser.password !== password2">Passwords don't match</div>
                <div class="text-danger" ng-if="error">{{error}}</div>
            </div>
            <div class="form-group">
                <button class=" btn btn-default login-button" ng-click="signup(newUser)">Signup</button>
            </div>
        </form>
    </div>
    <div class="line"><hr></div>
    <h6 class="text-center text-muted hh6">Already have an account? <a ui-sref="login"> Login here</a><h6>
</div>