{{test}}

<form class="panel panel-default">
  <div class="panel-heading">Add Appt</div>
  <div class="panel-body">
    <ul>
      <li>Date: <input ng-model="newAppt.date"></li>
      <li>Location: <input ng-model="newAppt.location"></li>
    </ul>
  </div>
  <button type="submit" ng-click="createAppt(newAppt)">Submit</button>
</form>

<div class="panel panel-info">
  <div class="panel-heading">
    All Users
  </div>
  <div class="panel-body">
    <ul ng-repeat="user in users">
      <li>Name: {{user.name}}</li>
      <li>Email: {{user.email}}</li>
      <li>Appt: {{user.appts}}</li>
      <li>Orgs: {{user.orgs}}</li>
      <li>Roles: {{user.roles}}</li>
      <hr>
    </ul>
  </div>
</div>
