/*
 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

/*----------------------------------------------------*/

/*landing page*/
#below-navbar {
	padding-top: 70px;
}
.landing-sked {
	padding-left: 0px;
}
.landing-nav {
	margin-top: 15px;
	margin-left: 25px;
}
.landing-section {
	height: 500px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/*login & register*/
.tagline {
	margin-bottom: 50px;
}
#linkedin-contain, #add-linkedin-contain {
	width: 200px;
	height: 50px;
	margin: 0 auto;
}
#linkedin, #linkedin:hover {
	background-image: url(../images/linkedin-default.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 100%;
	margin: 0 auto;
	cursor: pointer;
}
#linkedin:hover {
	background-image: url(../images/linkedin-hover.png);
}
#add-linkedin-contain {
	width: 125px;
	height: 35px;
	margin-left: 0px;
}
#linkedin-add, #linkedin-add:hover {
	background-image: url(../images/add-linkedin-default.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 100%;
	cursor: pointer;
}
#linkedin-add:hover {
	background-image: url(../images/add-linkedin-hover.png);
}

.line, .login-contain {
	margin: 0 auto;
}
.line {
	width: 55%;
	clear: both;
	padding-top: 10px;
}
.login-contain {
	width: 40%;
}
.login-button {
	float: right;
}

/*myhome, create, join & leave organization*/
.create-orgs-contain, .my-orgs-contain, .join-orgs-contain {
	margin: 0 auto;
}
.create-orgs-contain {
	width: 45%;
}
.my-orgs-contain, .join-orgs-contain {
	width: 70%;
}

/*org management*/
.org-role:hover {
	cursor: default;
}

/*.body {
	height: 100vh;
	width: 100vw;
}*/

/*background image*/

body {
	background: url(../images/swr_bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Navigation sidebar*/
#navSidebar {
	width: 250px;
	box-shadow: 1px 0px 10px #888888;
	z-index: 200;
	background-color: #333333;
	outline: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh !important;
	border: 1px solid #333333;
	position: fixed left !important;
}

#navSidebarMenuItems {
	min-height: 60% !important;
	overflow: auto;
}

#menuCompanyName {
	background-color: #333333 !important;
}

#companyMenuItems a:hover {
	/*background-color: #333333 !important;*/
	background-color: #008CBA !important;
}

#navSidebarMenuItems ul li {
	word-wrap: break-word;
}

#menuCompanyName:hover {
	background-color: #474C55 !important;
}

#navSidebar li {
	font-size: 1.13em;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

#navSidebar .dropdown-menu {
	background-color: #474C55 !important;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 0.85em;
	position: relative;
}

.nav-sidebar .dropdown li {
	background-color: #474C55;
}

#navSidebar li a {
	color: white;
	text-decoration: none;
	outline: none;
}

#navSidebar li a:hover {
	text-decoration: none;
	background-color: #474C55;
}

#menuSplit {
	margin: 0;
}

#navSidebar .mainMenuSettings .active a {
	background-color: #474C55;
	/*background-color: #008CBA;*/
	text-decoration: none;
}

#navSidebar .dropdown .active a {
	/*background-color: #2A9FD6;*/
	background-color: #008CBA;
	text-decoration: none;
}

#topNavBar {
	z-index: 100;
	box-shadow: 1px 0px 10px #888888;
}

#navSidebarButton a {
	text-decoration: none;
	font-size: 2em;
	cursor: pointer;
	position: absolute;
	float: left;
	margin-top: 4px;
	margin-left: 10px;
}

#navSidebarButton-Out {
	text-decoration: none;
	font-size: 1.8em;
	color: white;
	cursor: pointer;
	float: right;
	margin-top: 8px;
	margin-right: 10px;
	animation: roll .5s;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logoImg {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
	color: white;
}

.mainMenuSettings {
	min-height: 90% !important;
}

.mediumLogo {
	color: white;
	font-size: 3em;
	margin-left: 1.9em;
	min-height: 5% !important;
	font-family: monospace;
}

.pageTitle {
	display: block;
	text-align: center;
	font-size: 1.5em;
	margin-top: 10px;
}

@media (min-width: 992px) {
	.page-content {
		padding-left: 250px;
	}
}

@media (max-width: 992px) {
	.rightViewContent {
		z-index: 300;
		box-shadow: -10px 0 20px 5px hsla(0,0%,0%,.25);
		position: relative;
	}
	.page-content {
		height: 100vh;
		padding-top: 70px;
	}
	.mediumLogo {
		min-height: 4% !important;
	}
	.mediumLogo p {
		font-size: 0.8em;
		margin-left: 0.3em;
		margin-top: 0.3em;
	}
	#navSidebar {
		z-index: 100;
		box-shadow: none;
	}
	#navSidebar li #menuCompanyName {
		font-size: 1.2em;
		/*font-weight: bold;*/
	}
	#navSidebar .dropdown-menu {
		font-size: 1.1em;
		font-style: italic;
	}
	#navSidebarMenuItems {
		max-height: 60% !important;
	}
	.mainMenuSettings {
		min-height: 90% !important;
	}
}
